body {
    text-align: center;
     background-color: black; 
    }

h1{
    background-color: black;
    
    animation-name: text;
    animation: text 3s infinite;
    }
button {
        animation-name: buttons;
        animation: buttons 3s infinite;
    }
      
footer{
    color: white;
    animation: text 3s infinite;
}
@keyframes text {
        0%      {color: red;}
        14.28%  {color: orange;}
        28.57%  {color: yellow;}
        42.85%  {color: green;}
        57.14%  {color: blue;}
        71.42%  {color: indigo;}
        85.71%  {color: violet;}
        100%    {color: pink;}   
    }

@keyframes buttons {
        0%      {background-color: red;}
        14.28%  {background-color: orange;}
        28.57%  {background-color: yellow;}
        42.85%  {background-color: green;}
        57.14%  {background-color: blue;}
        71.42%  {background-color: indigo;}
        85.71%  {background-color: violet;}
        100%    {background-color: pink;}   
    }